.wrapper {
  max-width: 1100px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* align-items: center;
  justify-content: center; */
}

.spacing {
  /* min-height: 10rem; */
}

.styles {
  font-size: 5 rem;
  color: green;
}

/* .nav {
  z-index: 10;
} */

.proyectos {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  list-style: none;
}

.container {
  position: relative;
  background-color: black;
}

.titulos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
  /* transition: all 0.2s ease-in; */
  color: rgb(255, 255, 255);
  z-index: -1;
}

.container:hover .titulos {
  /* display: contents; */
  z-index: 0;
}

.imagen {
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in;
  /* filter: grayscale(100%); */
  /* object-fit: fill; */
}

.imagen:hover {
  opacity: 0.5;
  /* filter: grayscale(0%); */
}

.boton {
  font-size: 3rem;
}
