.wrapper {
  max-width: 1100px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.spacing {
  /* min-height: 10rem; */
}

.styles {
  font-size: 5 rem;
  color: green;
}

/* .nav {
  z-index: 10;
} */

.proyectos {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  list-style: none;
}

.container {
  position: relative;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 1rem; */
  width: 100%;
  height: auto;
}

.links {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.titulos {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* display: none;
  /* transition: all 0.2s ease-in; */
  color: rgb(255, 255, 255);
  z-index: -1;
  font-size: 1.8rem;
}

.container:hover .titulos {
  z-index: 0;
}

.imagen {
  width: 100%;
  height: auto;
  transition: all 0.2s ease-in;
  /* filter: grayscale(100%); */
  object-fit: cover;
}

.imagen:hover {
  opacity: 0.7;
  /* filter: blur(1px); */
}

.boton {
  font-size: 3rem;
}
